body {
  background-color: #F4F4F4; }

.section-pad-sm {
  padding: 20px 0 100px 0; }

.input-ios {
  -webkit-appearance: none;
  background: #fff;
  padding: 12px 0;
  font-size: 14px !important;
  margin: -1px 0 0 0;
  width: 100%;
  border-bottom: 1px solid #C8C7CC;
  border-radius: 0 !important;
  text-indent: 10px; }
  .input-ios:first-child {
    border-top: 1px solid #C8C7CC; }

textarea {
  -webkit-appearance: none;
  background: #fff;
  width: 100%;
  font-size: 14px !important;
  margin: 0;
  border-top: 1px solid #C8C7CC;
  border-bottom: 1px solid #C8C7CC;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
  outline: 0;
  padding-top: 10px;
  text-indent: 10px; }
  textarea::-webkit-input-placeholder {
    text-indent: 10px; }

select {
  text-indent: 5px;
  -webkit-appearance: none;
  background: white;
  width: 100%;
  box-shadow: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 !important;
  font-size: 14px !important;
  height: 42px;
  outline: 0px; }

.b-submitButton {
  position: relative;
  margin-top: 24px; }

.button-submit {
  font-size: 18px !important; }
