<footer class="footer">
  <div class="container">
    <div class="row pad-row-lg">
      <div class="col-sm-22 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-5">
            <h4>Company</h4>
            <p><a href="/" class="p-link--white">Home</a></p>
            <p><a href="/about/" class="p-link--white">About</a></p>
            <p><a href="/news/" class="p-link--white">News</a></p>
            <p><a href="/careers/" class="p-link--white">Careers</a></p>
            <p><a href="/brand/" class="p-link--white">Brand</a></p>
            <p><a href="mailto:hello@getontracks.com" target="_top"class="p-link--white">Email Us</a></p>
            <p><a href="/legal/TOS.html" class="p-link--white">Terms of Service</a></p>
            <p><a href="/legal/PrivacyPolicy.html" class="p-link--white">Privacy Policy</a></p>
          </div>
          <div class="col-sm-5">
            <h4>App</h4>
            <p><a target="_blank" href="https://itunes.apple.com/app/apple-store/id991383515?pt=117131894&ct=WebsiteFooter&mt=8" class="p-link--white">iOS Download</a></p>
            <p><a class="p-link--white" href="/faq/">Tracks FAQ</a></p>
            <p><a class="p-link--white" href="/feedback/">Send Feedback</a></p>
          </div>
          <div class="col-sm-5">
            <h4>Social</h4>
            <p><a href="http://angel.co/getontracks" class="p-link--white">AngelList</a></p>
            <p><a href="http://facebook.com/getontracks" class="p-link--white">Facebook</a></p>
            <p><a href="http://instagram.com/getontracks" class="p-link--white">Instagram</a></p>
            <p><a href="https://www.linkedin.com/company/tracks---video-conversations" class="p-link--white">LinkedIn</a></p>
            <p><a href="http://twitter.com/getontracks" class="p-link--white">Twitter</a></p>
            <p><a href="http://vine.co/getontracks" class="p-link--white">Vine</a></p>
          </div>
          <div class="col-sm-9">
            
            <div class="b-card">
              <h4>Stay In The Loop</h4>
              <form id="email-form" method="post" accept-charset="UTF-8">
                <div class="form-group">
                  <div class="input-row">
                    <span>
                      
                      <input required name="email" id="email-input" type="email" class="placeholder-animate input-footer"
                      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" type="email"  oninput="setCustomValidity('')" oninvalid="setCustomValidity('Please enter your full email address.')">
                      <label name="emailLabel" id="emailLabel" for="email">Your email</label>
                      <div class="invalidFormMessage invalidEmail">
                        <p class="invalidText">Please enter a valid email address.</p>
                      </div>
                    </span>
                  </div>
                </div>
                <button name="submit-email" id="submitEmailForm" class="button button-footer" type="submit">
                <div class="sendEmailLink">Sign Up</div>
                <div class="sendingEmailLink">
                  <div class="loader"></div>
                </div>
                <div class="sentEmailLink">Success! You're signed up. </div>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="row pad-row-30">
          <div class="col-sm-24">
            <div class="b-copyright">
              <p class="copyrightText pull-left">Copyright Tracks 2015 ♥ Miami Beach</p>
              <div class="b-partners">
                <a href="https://mixpanel.com/f/partner">
                <img class="pull-right img-mixpanel" src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
$(document).ready(function() {
console.log("Checking out our javascripts huh? Maybe you should apply for one of our tech careers! http://hellohired.com/tracks.");
});
</script>
<script>
(function(i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function() {
(i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-56108639-4', 'auto');
ga('send', 'pageview');
</script>