<header class="site-header">
  {% assign current = page.url | downcase | split: '/' %}

  <p class="banner banner-alert">We're transferring content right now, so some things may not work :)</p>
  <div class="container tab-container">
    <div class="row">
      <div class="col-sm-22 col-sm-offset-1">
        <a href="/"> <img class="img-responsive logo" src="{{ site.baseurl }}/images/logo.png"></a>
        <div class="desktop-menu">
          <p class="menu-item menu-download-btn">
            <a href="https://itunes.apple.com/app/apple-store/id991383515?pt=117131894&ct=Website%20Header&mt=8" target="_blank">Download</a>
          </p>
          <p class="menu-item">
            <a href="/brand/" {% if current[1] == 'brand' %} class='active-menu-item'{% endif %} >Brand</a>
          </p>
          <p class="menu-item">
            <a href="/careers/" {% if current[1] == 'careers' %} class='active-menu-item'{% endif %} >Careers</a>
          </p>
          <p class="menu-item">
            <a href="/news/" {% if current[1] == 'news' %} class='active-menu-item'{% endif %} >News</a>
          </p>
          <p class="menu-item ">
            <a href="/about/" {% if current[1] == 'about' %} class='active-menu-item'{% endif %} >About</a>
          </p>
        </div>
        <p class="menu-item mobile-menu-btn">Menu</p>
        <div class="mobile-menu-dropdown">
          
          <p class="mobile-menu-item">
            <a href="https://itunes.apple.com/app/apple-store/id991383515?pt=117131894&ct=Website%20Header&mt=8">Download App</a>
          </p>
          <p class="mobile-menu-item">
            <a href="/about/">About</a>
          </p>
          <p class="mobile-menu-item">
            <a href="/news/">News</a>
          </p>
          <p class="mobile-menu-item">
            <a href="/careers/">Careers</a>
          </p>
          <p class="mobile-menu-item">
            <a href="/brand/">Brand</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</header>