.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
    animation-delay: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */
    animation-delay: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideLeft {
  0% {

    left: 100px;
  }

  100% {

    left: 0px;
   
  }
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


@-webkit-keyframes fadeInLeft{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.slideLeft {
    -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  position: absolute;
}


@-webkit-keyframes slideRight {
  0% {

    left: 0px;
  }

  100% {
   
    left: 120px;
   
  }
}

.slideLeft {
    -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  position: absolute;
}


.slideRight {
    -webkit-animation-name: slideRight;
  animation-name: slideRight;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  position: absolute;
}


.img-mockup-left {
  width: 191px;
  float: left;
 
}

.img-mockup-right {
  width: 230px;
  position: relative;
  margin-left: 0px;
   top: -25px;
}




  @-webkit-keyframes mountains {
    0% {
      background-position: 2050px;
    }

    100% {
      background-position: 0px;
    }
  }

    @-webkit-keyframes hills {
    0% {
      background-position: 1650px;
    }

    100% {
      background-position: 0px;
    }
  }

  @keyframes mountains {
    0% {
      background-position: 2050px;
    }

    100% {
      background-position: 0%;
    }
  }

    @-webkit-keyframes hills {
    0% {
      background-position: 1650px;
    }

    100% {
      background-position: 0%;
    }
  }

    @keyframes hills {
    0% {
      background-position: 1400px;
    }

    100% {
      background-position: 0%;
    }
  }      


  @-webkit-keyframes train {
    0% {
      left: -5%;
       -webkit-animation-timing-function: linear;
        opacity: 0;
    }
    5% {
      opacity: 1;
    }

    100% {
      left: 100%;
       -webkit-animation-timing-function: linear;
    }
  }

  @keyframes train {
    0% {
      left: -5%;
       -webkit-animation-timing-function: linear;
       animation-timing-function: linear;
        opacity: 0;
    }
    5% {
      opacity: 1;
    }

    100% {
      left: 100%;
       -webkit-animation-timing-function: linear;
       animation-timing-function: linear;
    }
  }



  @-webkit-keyframes sun {
    0% {
      left: 120%;
       -webkit-animation-timing-function: linear;
        opacity: 0;
        top: 300px;
    }
    5% {
      opacity: 1;
    }

    50% {
      top: 150px;
    }

    95% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      top: 300px;
      left: -20%;
       -webkit-animation-timing-function: linear;
    }
  }

  @keyframes sun {
    0% {
      left: 90%;
       -webkit-animation-timing-function: linear;
        opacity: 0;
        top: 300px;
    }
    5% {
      opacity: .7;
    }

    50% {
      top: 200px;
    }

    98% {
      opacity: .7;
    }

    100% {
      opacity: 0;
      top: 300px;
      left: -40%;
       -webkit-animation-timing-function: linear;
    }
  }

    @-webkit-keyframes cloud-group {
    0% {
         background-position: 0%;
       -webkit-animation-timing-function: linear;
        opacity: 0;
        
    }
    2% {
      opacity: 1;
    }

    98% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      background-position: 1000px;
      top: 50px;

    }
  }

  @keyframes cloud-group {
    0% {
         background-position: 0%;
       -webkit-animation-timing-function: linear;
       animation-timing-function: linear;
        opacity: 0;
    }
    2% {
      opacity: 1;
    }

    98% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      background-position: 1000px;
      top: 50px;

    }
  }


 @-webkit-keyframes cloud {
    0% { 
        transform: rotate(0deg) scale(0.1); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
        -webkit-transform: scale(0.5);         
        opacity: 1; 
    }
    100% { 
        transform: rotate(-10deg) scale(0.9); 
        -webkit-transform: rotate(-10deg) scale(0.9);       
        left: -60px; 
        top: -60px; 
        opacity: .1; 
    }
}

 @keyframes cloud {
    0% { 
        transform: rotate(0deg) scale(0.1); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
        -webkit-transform: scale(0.5);         
        opacity: 1; 
    }
    100% { 
        transform: rotate(-10deg) scale(0.9); 
        -webkit-transform: rotate(-10deg) scale(0.9);       
        left: -60px; 
        top: -60px; 
        opacity: .1; 
    }
}



 @-webkit-keyframes cloudUp {
     0% { 
        transform: rotate(0deg) scale(0.1); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        opacity: 1; 
    }
    100% { 
        transform: rotate(0deg) scale(1.9); 
        -webkit-transform: rotate(0deg) scale(1.9); 
        left: -160px; 
        top: -70px; 
        opacity: .1; 
    }
}


 @keyframes cloudUp {
    0% { 
        transform: rotate(0deg) scale(0.1); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        opacity: 1; 
    }
    100% { 
        transform: rotate(0deg) scale(1.9); 
        -webkit-transform: rotate(0deg) scale(1.9); 
        left: -160px; 
        top: -70px; 
        opacity: .1; 
    }
}

 @-webkit-keyframes cloudDown {
    0% { 
        transform: rotate(0deg) scale(0.1); 
        -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
        -webkit-transform: scale(0.5); 
        opacity: 1; 
    }
    100% { 
        transform: rotate(-20deg) scale(0.9); 
        -webkit-transform: rotate(-180deg) scale(0.9); 
        left: -130px; 
        top: -45px; 
        opacity: .1; 
    }
}

 @keyframes cloudDown {
    0% { 
        transform: rotate(0deg) scale(0.1); 
                -webkit-transform: rotate(0deg) scale(0.1); 
        left: 55px; 
        top: -12px; 
        opacity: 0; 
    }
    20% { 
        transform: scale(0.5); 
                -webkit-transform: scale(0.5); 
        opacity: 1; 
    }
    100% { 
        transform: rotate(-20deg) scale(0.9); 
                -webkit-transform: rotate(-90deg) scale(0.9); 
        left: -130px; 
        top: -65px; 
        opacity: .1; 
    }
}

.smoke {
      -webkit-animation: smoke 3s infinite normal;
    animation: smoke 5s smoke normal;
    -moz-animation: smoke 5s smoke normal;
  position: absolute;  
  top: -1px;
  left: 23px;
} 

.cloud {
    -webkit-animation: cloud 3s infinite normal;
    animation: cloud 3s infinite normal;
    -moz-animation: cloud 3s infinite normal;
     -webkit-animation-fill-mode: both;
  position: absolute;  
}

.cloudUp {
    -webkit-animation: cloudUp 3s infinite normal;
    animation: cloudUp 3s infinite normal;
    -moz-animation: cloudUp 3s infinite normal;
     -webkit-animation-fill-mode: both;
  position: absolute;  


}

.cloudDown {
    -webkit-animation: cloudDown 4s infinite normal;
    animation: cloudDown 4s infinite normal;
    -moz-animation: cloudDown 4s infinite normal;
     -webkit-animation-fill-mode: both;
  position: absolute;  

}

.cloud1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -moz-animation-delay: 0s;    
}

.cloud2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;    
}

.cloud3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;    
}

.cloud4 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    -moz-animation-delay: .6s;    
}

.cloud5 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;    
}

.cloud6 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -moz-animation-delay: 1s;    
}

.cloud7 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;    
}

.cloud8 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;    
}

.cloud9 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;    
}

.cloud10 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;  
}

.cloud11 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-delay: 2s;  
}

.cloud12 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;  
}

.cloud13 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;  
}

.cloud14 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;  
}

.cloud15 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;  
}

.cloud16 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -moz-animation-delay: 3s;  
}


.train-animation {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}

.ico-train {
    max-width: 70px;
}

.ico-cloud {
    max-width: 30px;
    position: absolute;  
    
}

.ico-sun {
  width: 100px;
}

.ico-smoke {
    max-width: 30px;
}

.ico-smoke-sm {
    max-width: 32px;
}

.cloud-group {
  background:  url(../images/cloud-group.png);
  background-repeat: repeat-x;
  background-size: 100% 100%;
  -webkit-animation: cloud-group 98s infinite normal;
  animation: cloud-group 98s infinite normal;
  -moz-animation: cloud-group 98s infinite normal;
  height: 100px;
  width: 2081px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

  .train {
    -webkit-animation: train 38s infinite normal;
    animation: train 38s infinite normal;
    -moz-animation: train 38s infinite normal;
  position: absolute;
  z-index: 1;
}

.sun {
  display: block;
  position: relative;
      -webkit-animation: sun 45s infinite normal;
    animation: sun 45s infinite normal;
    -moz-animation: sun 45s infinite normal;
    z-index: 0;
}

.mountains {
  background:  url(../images/mountains.png);
  background-repeat: repeat-x;
  background-size: 100% 100%;
  -webkit-animation: mountains 35s infinite linear;
  -moz-animation: mountains 35s infinite linear;
  animation: mountains 35s infinite linear;    
  position: relative;
  top: 41px;
  height: 100px;
  width: 100%;
  min-width: 2050px;
  margin: 0 auto;
}

.hills {
  background:  url(../images/hills-bg.png);
  background-repeat: repeat-x;
  background-size: 100% 100%;
  -webkit-animation: hills 20s infinite linear;
  -moz-animation: hills 20s infinite linear;
  animation: hills 20s infinite linear;
  position: relative;
  top: -5px;
  height: 45px;
  width: 100%;
  min-width: 1650px;
  margin: 0 auto;
}

.perspective-line {
    border-bottom: 5px solid $teal-dark;
    top: -5px;
    position: relative;
}

.grass-line {
    border-bottom: 40px solid #30B2A8;
    top: -5px;
    position: relative;
}


/*Vertical Sliding*/
.slidingVertical{
  display: block;
  font-size: 42px;
  // text-indent: 8px;
}
.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: $green;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  7% { opacity: 0; -moz-transform: translateY(-30px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  28% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  7% { opacity: 0; -webkit-transform: translateY(-30px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  28% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  7% { opacity: 0; -ms-transform: translateY(-30px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  28% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
