@import "variables";
@import "grid";
@import "animation";
// @import "feedback";
@import "form";
@import "fontawesome";
@import "media";


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;  
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNextRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url('../fonts/AvenirNextDemiBold.ttf') format('truetype');
}

body {
    font-family: $font;
    color: $grayMedium;  
}

p {
    font-size: 22px;
    line-height: 1.8;
}

h1 {
    font-size: 48px;
    font-family: $fontBold;
    letter-spacing: -0.3pt;
}

h2 {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.5pt;
}

h4 {
    color: $grayLight;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5pt;
}

h5 {
    color: $grayLight;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.5pt;    
}

a {
    text-decoration: none;
    cursor: pointer;
}

.intro-video {
    position: relative;
    top: -40px;
}

.intro-section {
    padding-top: 50px !important;
}

.section-pad-lg {
    padding: 150px 0;
}

.section-pad-xs {
    padding: 10px 0;
}


.divider{
    width:100%;
    margin: 20px auto;
    overflow:hidden;
    text-align:center;   
    line-height:1.2em;
}

.divider:before, .divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:1px solid $grayLight;
    margin:0 2% 0 -55%;
}
.divider:after{
    margin:0 -55% 0 2%;
}


.apple-logo {
    margin-right: 3px;
}

.p-appStore {
    @include ease;
    font-size: 22px !important;
    color: #fff;
    font-family: $fontBold;
    text-align: center;
     padding: 13px 0;
     border-radius: 3px;
     width: 100%;
     margin: 0;
    background: $grayDark;

    &:hover {
        background: $grayMedium;
    }
}


.logo {
    float: left;
    width: 120px;
    position: relative;
    top: -8px;
}

.logo-splash {
    @include ease;
    max-width: 250px;
    z-index: 10;    
}

.beta-group {
   top: 20px;
   position: relative;
   z-index: 10;
}

.b-betaForm {
    padding: 1px;
    margin-top: 22px;
}

.b-betaForm-center {
    width: 483px;
    padding: 30px 0;
    margin: 0 auto;
    display: block;
}

.p-comingSoon {
    font-size: 16px;
}

.p-copyright {
    margin-top: -23px;
}

.b-partners {
    margin: 0 auto;
}

.img-mixpanel {
    top: 0;
  position: relative;
}

.img-mobile {
    width: 100%;
    margin: -20px 0 0 0;
    &.landing {
        padding: 0px 0 108px 0;
    }
}


.p-tagline {
    font-size: 26px;
}

.teal-bg {
    background: $teal;
    padding: 100px 0 100px 0;
    h1, h2, h4 {
        color: $lightWhite;
    }

    p {
        color: $lightWhite; 
        font-size: 26px; 
    }
}

.darkteal-bg {
    background: $blueMedium;
    padding: 100px 0 100px 0;
    h1, h2, h4 {
        color: $lightWhite;
    }

    p {
        color: $lightWhite; 
        font-size: 26px; 
    }
}

.purple-bg {
    background: $purpleLight;
    padding: 100px 0 20px 0;

    h2, h4 {
        color: $lightWhite;
    }

    p {
        color: $lightWhite;  
    }
}

.dark-bg {
    background: $darkBlue;
    padding: 100px 0 200px 0;
    color: $lightWhite;

    h2 {
        color: $lightWhite;
    }
}


.primary-bg {
    background: $primary;
    padding: 150px 0 50px 0;
    color: $lightWhite;

    h2 {
        color: $lightWhite;
    }  
}

.white-bg {
    background: #fff;
    color: $grayMedium;
    padding: 100px 0 100px 0;    


    p {
        font-size: 26px; 
    }

    h1 {
        color: $green;
    }

    h2 {
        color: $grayMedium;
        margin-bottom: 20px;
    }

    h4 {
        padding-bottom: 15px;
    }
}



.bg-newsletter {
    background: $grayLight !important;
}

.b-copyright {
    border-top: 1px solid $whiteOpacity;
    padding-top: 10px;
}

.copyrightText {
    color: $whiteOpacity !important;
    font-size: 12px !important;
}

.p-br {
    margin-top: 15px;
}

.p-big {
    font-size: 26px;
}

.jobLink {
    color: $grayDark;
}

.p-link--gray {
    text-decoration: none;
    color: $grayMedium;
    border-bottom: 1px solid $grayMedium;

    &:hover {
        color: $grayDark;
        border-bottom: 1px solid $grayDark;
    }
}

.p-link--white {
    @include ease;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid $blueMedium;


    &:hover {
        opacity: 0.5;
        border-bottom: 1px solid $grayLight;
    
    }   
}

.jobName {
    font-size: 22px;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;

    // &:hover {
    //  border-bottom: 1px solid #F0F0F0;
    // }
}

.jobLocation {
    color: $grayLight;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 1.5pt;
}

.jobCard {
    margin: 10px 0 20px 0;
    cursor: pointer;
    -webkit-transition: ease all .3s;

    
    &:hover {
        
        background: #F2F7FC;
    }
}

.center {
    text-align: center;
}

.footer {
    background: $blueMedium;
    padding: 50px 0;

    h4 {
        margin: 10px 0;
        color: $whiteOpacity;
    }

    p {
        color: #fff;
        font-size: 16px;
    }

    a {
        color: #fff;
    }
}

.bg-careers {
      background: url('../images/miami.JPG') no-repeat 20% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
  min-height: 300px;
  color: #fff;
}

.careers-train {
    display: block;
    width: 100%;

}

.about-logo {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.u-center {
    margin: 0 auto;
}

.sidebar {
  top: 20px;
  position: relative;
    // border-right: solid 1px #e1e1e1;
    // height: 100vh;
    // padding-right: 10px;
}


.pad-top-sm {
    padding-top: 20px;
}

.pad-row-md {
    padding: 10px 0;
}

.pad-row-30 {
    padding: 30px 0;
}

.pad-row-lg {
    padding: 50px 0;
}

.section-green {
    background: $green;
    padding: 20px;  

    h1, h2, p {
        color: #fff;
    }
}

// .button--submit-bottom {
//     border-radius: 3px;
//     background: transparent;
//     padding: 10px 20px;
//     color: #fff;
//     border: 1px solid #fff;

//     &:hover {
//     opacity: 0.5;
//     }
// } 

.bg-green {
    background: $green;
    padding: 20px;
    border-radius: 10px;

    &.bg-green-sm {
        padding: 60px;
    }
}

.bg-gray {
    background: $grayExtraLight;
}

.bg-white {
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    border: 1px solid #e1e1e1;

    &.bg-white-sm {
        padding: 60px;
    }
}

.bg-large {
    padding: 100px 0;
    color: #fff;
    background: $green;
}

.bg-med {
    padding: 50px 0;
    color: #fff;
    background: $green;  
}

.hero {
    h1, p {
        text-align: center;
        padding: 5px 0;
    }
}

// .brandContent {
//  border-left: solid 1px #e1e1e1;
//  padding-left: 30px;

// }


#sidebar.moveSidebarDown {
    @include ease;
    top: 30px;
    position: fixed;
    padding-right: 30px;
}

#sidebar.moveSidebarUp {
    @include ease;  
    top: -250px;
    position: fixed;
    padding-right: 30px;
}

.mobile-menu-dropdown {
    @include ease;
    clear: both;
    display: none;
    background: $grayExtraLight;
}

.showMobileMenu {
    display: block;
}


.mobile-menu-item {
    text-align: center;
    padding: 10px 0;

    & a {
        color: $grayMedium;
    }   

    &:hover {
        background: $grayLight;
        color: $grayDark;
        cursor: pointer;
    }   
}

.menu-item {
    text-align: right;
    float: right;
    display: block;
     top: -6px;
    position: relative;
    font-size: 18px;
    padding: 2px 0 2px 20px;
}

.menu-item a {
    color: $grayMedium;
    text-decoration: none;

    &:hover {
        color: $green;
    }

    &.active-menu-item {
        color: $green;
        border-bottom: 2px solid $green;
        padding-bottom: 4px;
    }
}

.menu-download-btn a {
    display: block;
    border: solid 2px $grayLight;
    color: $grayMedium;
    border-radius: 4px;
    padding: 0 8px;
    top: -2px;
    position: relative;

    &:hover {
        color: $green;
        border: 2px solid $green;
    }
}

.hellohired-job a {
    color: $green;
    transition: ease all .2s;

    span.type, span.location {
        color: $grayLight;
        font-size: 14px;
    }

    &:hover {
        background: #f9f9f9;
    }
}

.tab-container {
    margin-top: 30px;
    padding-bottom: 10px;
}

.careers-home-bg {
    padding: 200px 0;
      background: url('../images/careers-bg.png') no-repeat 0% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-color: $blueMedium;

  & h2 {
    color: $white;
  }
}

.b-careers-btn {
    position: relative;
    top: -80px;
}

.img-responsive {
    max-width: 100%;
}

.red {
    outline-color:red;
    outline-width:10px;
}

.active-cell {
    border-bottom: 2px solid red;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: #E1E1E1;
}

.tracks-bar {
    background: $green;
    height: 4px;
    width: 100%;
}


.nav {
    list-style-type: none;
}

.nav li {
    padding: 15px 0;

}

.nav li a {

  //border-bottom: 1px solid #E1E1E1;
  color: $grayLight;
  font-size: 18px;
  text-decoration: none;
    transition: ease all 0.2s;

    &:hover {
        color: $grayDark;
    }

}

.nav li:last-child {

}



.nav li.active {
  position: relative;

}


.nav li.active a {
    text-decoration: none;
  border-left: 2px solid $green;
  height: 100%;
  padding-left: 10px;
}

a.active {
    color: $grayDark !important;
}

.card {
    background: white;
    border: 1px solid #e1e1e1;
}

.card-content {
    padding: 10px 20px;
}

.colorSquare {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ededed;

    &.green {
        background: $green;
    }

    &.red {
        background: $red;
    }

    &.grayDark {
        background: $grayDark;
    }
    &.grayMedium {
       background: $grayMedium; 
    }
    &.grayLight {
       background: $grayLight; 
    }
    &.grayExtraLight {
        background: $grayExtraLight;
    }
     &.white {
       background: #fff; 
    }
    &.purpleLight {
        background: $purpleLight;
    }
}

a.active {
   border-left: 2px solid $green;
     padding-left: 10px;
}
section.active {}

.section-md:first-child {
    padding: 0 0 20px 0;
}

.section-md {
    padding: 20px 0;
}

    .mobile-menu {
        display: none;
    }

        .desktop-menu {
        display: block;
    }

.mobile-menu-btn {
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 3px;
    border: 2px solid $green;
    color: $green !important;
    font-size: 18px;
}


ul.post-list {
    list-style: none;
}

a.post-link {
    color: $green;
    display: block;

   &:visited {
    color: $green;
   }
}

.b-recent-posts {
    padding: 50px 0;
}

.post-block {
    padding: 20px 0;

    p {
        padding-bottom: 22px;
    }

    a {
        @include ease;
        color: $grayMedium;
        border-bottom: 1px solid $grayMedium;

        &:hover {
            color: $grayDark;
            border-bottom: 1px solid $grayDark;
        }
    }
}

.post-link-block {
    border-bottom: 1px solid lighten($grayLight, 20%);
    padding: 15px 0 20px 0;
    display: block;

    &:hover {
        cursor: pointer;
        background: $purpleLight;
    }
}

.post-meta {  
    font-size: 16px;
}

@media(max-width: 992px) and (min-width: 768px) {

}


@media (max-width: 768px) and (min-width: 200px) {

    #sidebar {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
    }




