@import "variables";
@import "grid";
@import "animation";

@import "posts";
@import "blocks";
@import "cards";
@import "img";
@import "nav";
@import "sections";
@import "spacing";
@import "type";
@import "utilities";
// @import "feedback";
@import "form";
@import "fontawesome";
@import "media";
@import "banner";

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;  
}

body {
    font-family: $font;
    color: $grayMedium;  
}







