
.b-betaForm {
    padding: 1px;
    margin-top: 22px;
}

.b-betaForm-center {
    width: 483px;
    padding: 30px 0;
    margin: 0 auto;
    display: block;
}


.b-partners {
    margin: 0 auto;
}

.beta-group {
   top: 20px;
   position: relative;
   z-index: 10;
}

.b-copyright {
    border-top: 1px solid $whiteOpacity;
    padding-top: 10px;
}

.b-careers-btn {
    position: relative;
    top: -80px;
}

.intro-video {
    position: relative;
    top: -40px;
}

.tracks-bar {
    background: $green;
    height: 4px;
    width: 100%;
}
