.pad-top-sm {
    padding-top: 20px;
}

.pad-row-md {
    padding: 10px 0;
}

.pad-row-30 {
    padding: 30px 0;
}

.pad-row-lg {
    padding: 50px 0;
}

.intro-section {
    padding-top: 50px !important;
}

.section-pad-lg {
    padding: 150px 0;
}

.section-pad-xs {
    padding: 10px 0;
}