.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.u-center {
  display: block;
  margin: 0 auto;
  text-align: center; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@font-face {
  font-family: 'Avenir-Next';
  src: url("fonts/Avenir-Next.ttf") format("truetype"); }
.black-bg {
  background: #0D0D0C;
  padding: 100px 0 200px 0; }

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated-two {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .2s;
  /* Chrome, Safari, Opera */
  animation-delay: .2s; }

.animated-three {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .4s;
  /* Chrome, Safari, Opera */
  animation-delay: .4s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

.white {
  color: #fff; }

.title-bar {
  height: 30px;
  background: #0D0D0C;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0 0 0;
  color: #fff; }

.bg--black {
  padding: 50px 0;
  background: #0D0D0C;
  color: #fff; }
  .bg--black.small {
    padding: 40px 0; }

.bg--white {
  padding: 50px 0;
  background: #fff;
  color: #0D0D0C; }
  .bg--white.small {
    padding: 40px 0; }

.bg--lightGrey {
  padding: 50px 0;
  background: #ededed;
  color: #0D0D0C; }
  .bg--lightGrey.small {
    padding: 40px 0; }

.bg--darkGray {
  padding: 50px 0;
  background: #3E3E3D;
  color: #fff; }
  .bg--darkGray.small {
    padding: 40px 0; }

.pad-top {
  padding-top: 50px; }

.pad-bottom {
  padding-bottom: 100px; }

.nav-bar {
  top: -50px;
  height: 40px;
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 4px #ccc; }

.nav-links {
  margin-top: 10px;
  margin-right: 15px; }

.nav-link {
  display: inline;
  font-size: 16px;
  letter-spacing: -.2pt;
  font-weight: 500; }
  .nav-link:first-of-type {
    margin-right: 20px; }

.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: -20px;
  z-index: 9;
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s; }

.displayNone {
  display: none; }

.nav-bar--isMoving {
  top: 0px; }

.underline {
  text-decoration: none;
  border-bottom: 1px solid #999;
  color: #999; }
  .underline:hover {
    border-bottom: 1px solid #4d4d4d;
    color: #4d4d4d; }

.logo {
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s;
  z-index: 10; }

.logo--moveIn {
  position: fixed;
  top: -50px; }

.logoImg--moveIn {
  position: relative;
  margin: 8px 0;
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s; }

.logo--isMoving {
  position: fixed;
  top: 5px;
  left: 10px;
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s; }

.logoText {
  text-decoration: none;
  font-size: 70px;
  font-family: "Avenir-Next", "Muli", sans-serif;
  color: #0D0D0C; }

.logoText--small {
  text-decoration: none;
  font-size: 22px;
  font-family: "Avenir-Next", "Muli", sans-serif;
  color: #0D0D0C;
  float: left; }

.logoImg--addon {
  position: absolute;
  max-width: 36px; }

.logoImg {
  position: relative;
  margin: 8px 0;
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s; }
  .logoImg .logoImg--large {
    position: absolute;
    padding: 8px 23px;
    max-width: 68px; }

.logoImg--small {
  position: absolute;
  padding: 0 10px;
  max-width: 28px; }

.logoImg--appIcon {
  max-width: 70px; }

.t-addon {
  margin-left: 48px; }

.card {
  background: #fff;
  width: 100%;
  padding: 0 0 10px 0px;
  box-shadow: 0px 0 4px #ccc; }

.colorSquare {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ededed; }
  .colorSquare.rrRed {
    background: #A7414E; }
  .colorSquare.akaroa {
    background: #D1B79D; }
  .colorSquare.lightWhite {
    background: #fcfcfc; }
  .colorSquare.nearBlack {
    background: #0D0D0C; }

.colorName {
  font-weight: 300;
  margin: 20px 0; }

.card-content {
  padding-left: 8px; }
  .card-content.card-content--pad {
    padding: 15px !important; }

.bold {
  font-weight: 700; }

.regular {
  font-weight: 300; }

body {
  font-family: "Avenir-Next", "Muli", sans-serif;
  line-height: normal;
  margin: 0; }

h1 {
  font-size: 60px !important; }

h2 {
  font-size: 40px !important; }

h3 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase; }

h4 {
  font-weight: 300;
  font-size: 24px; }

p {
  font-size: 24px;
  line-height: 1.8; }
  p em {
    font-size: 17px;
    font-weight: 300; }
  p.small {
    font-size: 15px; }

a {
  text-decoration: none; }

.link {
  -webkit-transition: ease all .3s;
  -moz-transition: ease all .3s;
  transition: ease all .3s;
  font-family: "Avenir-Next", "Muli", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #0D0D0C; }
  .link:hover {
    color: #7AAD8E; }

.h-faq--sub {
  text-align: left;
  font-weight: 100;
  font-size: 20px; }

.p-question {
  font-weight: 600;
  font-size: 18px; }
  .p-question:before {
    content: "Q: "; }

.p-answer {
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 18px; }
  .p-answer:before {
    content: "A: "; }

.noPad {
  padding: 0 !important;
  margin: 0 !important; }

.button {
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 1px solid #0D0D0C;
  padding: 13px 20px;
  font-family: "Avenir-Next", "Muli", sans-serif;
  font-size: 16px; }
  .button.button--submit {
    border-radius: 0 3px 3px 0;
    background: #0D0D0C;
    color: #fff; }
  .button:hover {
    background: black;
    color: #fff; }

.input {
  display: table-cell;
  outline: 0;
  border: 1px solid #0D0D0C;
  float: left;
  display: inline;
  max-width: 100%;
  min-width: 315px;
  padding: 13px 10px;
  border-radius: 3px 0 0 3px;
  font-family: "Avenir-Next", "Muli", sans-serif;
  font-size: 16px; }

input[type="submit"] {
  float: left;
  display: inline; }

.intro {
  margin-top: 60px; }

.intro--help {
  padding: 0 0 30px 0; }

.intro--motion {
  background: #0D0D0C;
  padding: 0 0 30px 0; }

.p-thanks {
  font-size: 14px;
  line-height: 1.5; }
  .p-thanks a {
    text-decoration: none;
    border-bottom: 1px solid #999;
    color: #999; }
    .p-thanks a:hover {
      border-bottom: 1px solid #4d4d4d;
      color: #4d4d4d; }

.p-teaser {
  font-weight: 400;
  margin: 100px 0 -10px 0;
  line-height: 1; }

.img-mobile {
  width: 100%;
  margin: -20px 0 0 0; }
  .img-mobile.landing {
    padding: 0px 0 108px 0; }

.about {
  padding: 150px 0;
  color: #fff;
  background: #0D0D0C;
  min-height: 200px; }

.green {
  padding: 150px 0;
  color: #fff;
  background: #7AAD8E;
  min-height: 200px; }

.footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: #3E3E3D;
  min-height: 30px; }
  .footer.not-fixed {
    position: relative !important; }
  .footer p {
    font-size: 12px;
    text-align: center; }
  .footer a {
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff; }
    .footer a:hover {
      border-bottom: 1px solid #e6e6e6;
      color: #e6e6e6; }

@media (max-width: 1200px) {
  .p-teaser {
    font-size: 22px; }

  .input {
    min-width: 237px; }

  .button--submit {
    margin-left: -3px; } }
@media (max-width: 992px) {
  .p-comingSoon {
    font-size: 16px; }

  .p-teaser {
    margin-top: 50px;
    font-size: 28px;
    line-height: 1.5; }

  .input {
    min-width: 177px; }

  .button {
    padding: 13px; }

  .button--submit {
    margin-left: -3px; } }
@media (max-width: 768px) and (min-width: 200px) {
  .p-comingSoon {
    font-size: 16px;
    text-align: center; }

  .b-betaForm {
    margin: 40px 0; }

  .p-thanks {
    text-align: center; }

  .p-teaser {
    text-align: center;
    margin: 50px 0 20px 0;
    line-height: 1.5;
    font-size: 28px; }

  .b-logo {
    position: relative;
    margin: 0 auto;
    display: block; }

  .logo {
    display: block;
    margin: 0 auto;
    width: 100%; }

  .input {
    padding: 13px 0px 13px 0px;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100% !important;
    border-radius: 3px !important; }
    .input::-webkit-input-placeholder {
      text-align: center; }
    .input::-moz-placeholder {
      text-align: center; }

  .button--submit {
    border-radius: 3px !important;
    width: 100%; }

  input[type="submit"] {
    float: none !important;
    display: block !important;
    margin: 0 auto; }

  .img-mobile {
    padding: 50px 0 !important;
    max-width: 250px;
    margin: 0 auto;
    display: block; }

  .logoText {
    font-size: 48px;
    display: block;
    margin: 0 auto;
    text-align: center; }

  .logoImg--large {
    position: relative !important;
    max-width: 45px !important;
    padding: 8px 12px !important;
    display: block;
    margin: 0 auto; }

  .footer {
    position: relative; } }
.number-circle {
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-family: "Avenir-Next", "Muli", sans-serif;
  font-size: 22px;
  color: #fff; }
  .number-circle.akaroa {
    background: #D1B79D; }
  .number-circle.rrRed {
    background: #A7414E; }

.circle-block {
  margin-left: 4%;
  position: relative;
  top: 7px;
  display: inline;
  float: left; }

.help-block {
  margin-left: 24%;
  margin-right: 4%; }
  .help-block p {
    font-size: 16px; }

/*# sourceMappingURL=app.css.map */
